body {
    background-color: white;
}
.text {
    width: 400px;
    height: 150px;
    border: 6px solid black;
}
.history {
    width: 600px; 
         border: 1px solid rgb(0, 7, 0); 
         margin: auto; 
        }
        td {
         text-align: center; 
}
.field {
    width: 600px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
.main {
    width: 600px;
    margin: 100px auto;
}
h2 {
    width: max-content;
    margin: 100px auto;
}
.title {
    font-size: 20px;
}
textarea {
    font-size: 20px;
}
.result {
    font-size: 20px;
}
.buttons {

    height:35px;
}
textarea {
    padding: 5px;
    outline: none;
}